.container {
    width: 100%;
    height: 500px;
    position: relative;
    outline: 1px solid blue;
}

.controls > button {
    margin: 5px 10px 5px 0;
}

.log {
    padding: 5px 0 5px 5px;
    background-color: #eee;
    width: 100%;
    overflow: auto;
}